h1 {
    text-align: center;
    padding-top: 28px;
    color: #9da59f;
    font-size: 3.0em;
    letter-spacing: .35em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

    padding-bottom: 50px;
}

body {
    background-image: url(background.jpeg);
    background-size: cover;
}

#link {
    color: #9da59f;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: lighter;
    font-size: 1.5em;
    letter-spacing: .2em;
    text-decoration: none;

    margin-left: 500px;
}