h1 {
    color:rgb(151, 179, 214);
}

h4 {
    color: rgb(151, 179, 214);
}

h5 {
    color: rgb(151, 179, 214);
}

body {
    padding-left: 10px;
    padding-right: 10px;
}

#image {
    border: solid rgb(151, 179, 214);
}

#links {
    color:rgb(80, 132, 196);
}