h1 {
    color:rgb(151, 179, 214);
}

h4 {
    color: rgb(151, 179, 214);
}

body {
    padding-left: 10px;
    padding-right: 10px;
}

#image {
    border: solid rgb(151, 179, 214);
    padding: 3px;
}

#links {
    color:rgb(80, 132, 196);
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.flex-container > img {
    margin-left: 0;
    margin-right: 60px;
    margin-bottom: 20px;
}